.bird-eye-viewer{
  background-color: black;
  position:relative;
  overflow: hidden;
}

.object{
  position:absolute;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  z-index: 2;
}

canvas.canvas{
  position:absolute;
  z-index: 1;
}
