<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-3">
      <h4>{{'objects.object.details' | translate}}</h4>
      <div class="card p-3">
        <p>{{'objects.object.image' | translate}}:</p>
        <img class="portrait" *ngIf="obj" src="{{environment.apiUrl}}/videos/{{video_id}}/objects/{{obj.id}}/{{obj.portrait}}" alt="">
        <p>{{'objects.object.appearance-range' | translate}}: {{obj?.first_appearance}} - {{obj?.last_appearance}}</p>
        <p>{{'objects.object.average-speed' | translate}}: {{obj?.average_speed | number:'1.0-2'}} pixels/frame</p>
        <p>{{'objects.object.direction' | translate}}: <span *ngIf="!obj?.angle">Errático</span>
          <fa-icon *ngIf="obj?.angle" style="font-size:30px;" transform="rotate-{{obj?.angle_degrees}}" [icon]="arrowIcon"></fa-icon>
        </p>
      </div>

    </div>
    <div class="col-12 col-lg-9 container-fluid">
      <div class="col-12 ">
        <h4>{{'objects.object.path' | translate}}</h4>
        <img *ngIf="obj" style="width:100%; max-width:1000px" src="{{environment.apiUrl}}/videos/{{video_id}}/objects/{{obj?.id}}/path" alt="">
      </div>
      <br>
      <div class="col-12">
        <h4>{{'objects.object.video' | translate}}</h4>
        <video *ngIf="obj" style="width:100%; max-width:1000px" src="{{environment.apiUrl}}/videos/{{video_id}}/objects/{{obj.id}}/video" controls></video>
      </div>
    </div>

  </div>
</div>