<div class="container">
  <mat-card>
    <button mat-button color="accent" routerLink="/">{{'breadcrumbs.home' | translate}}</button> /
    <button mat-button color="accent" routerLink="/videos/{{video_id}}">{{'breadcrumbs.video' | translate}}</button> /
    <button mat-button color="accent" routerLink="/videos/{{video_id}}/objects">{{'breadcrumbs.objects' | translate}}</button> /
    <button mat-button disabled>ID: {{obj?.id}}</button>
  </mat-card>
  <div class="row mt-2">
    <div class="col-12 col-lg-3">
      <h4>{{'objects.object.details' | translate}}</h4>
      <mat-card class=" p-3">
        <img class="portrait" *ngIf="obj" src="{{environment.apiUrl}}/videos/{{video_id}}/objects/{{obj.id}}/{{obj.portrait}}" alt="">
        <hr>
        <p>{{'objects.object.appearance-range' | translate}}: {{obj?.first_appearance}} - {{obj?.last_appearance}}</p>
        <p>{{'objects.object.average-speed' | translate}}: {{obj?.average_speed | number:'1.0-2'}} pixels/frame</p>
        <p>{{'objects.object.direction' | translate}}:
          <span *ngIf="!obj?.angle">Errático</span>
          <fa-icon *ngIf="obj?.angle" style="font-size:20px;" transform="rotate-{{obj?.angle_degrees}}" [icon]="arrowIcon"></fa-icon>
        </p>
        <div>Upper colors: <div *ngFor="let color of obj?.upper_colors" class="color-box" [ngStyle]="{backgroundColor:'rgb('+color.value+')'}"></div>
        </div>
        <div>Lower colors: <div *ngFor="let color of obj?.lower_colors" class="color-box" [ngStyle]="{backgroundColor:'rgb('+color.value+')'}"></div>
        </div>
      </mat-card>

    </div>
    <div class="col-12 col-lg-9 container-fluid">
      <div class="col-12 ">
        <h4>{{'objects.object.path' | translate}}</h4>
        <img *ngIf="obj" style="width:100%; max-width:1000px" src="{{environment.apiUrl}}/videos/{{video_id}}/objects/{{obj?.id}}/path" alt="">
      </div>
      <br>
      <div class="col-12">
        <h4>{{'objects.object.video' | translate}}</h4>
        <video *ngIf="obj" style="width:100%; max-width:1000px" src="{{environment.apiUrl}}/videos/{{video_id}}/objects/{{obj.id}}/video" controls></video>
      </div>
    </div>

  </div>
</div>