<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <mat-card>
      <button mat-button color="accent" routerLink="/">{{'breadcrumbs.home' | translate}}</button> /
      <button mat-button color="accent" routerLink="/videos/{{video?.id}}">{{'breadcrumbs.video' | translate}}</button> /
      <button mat-button disabled>{{'breadcrumbs.settings' | translate}}</button>
    </mat-card>
  </nav>
  <div class="row mt-2">
    <article class="col-6">
      <app-perspective *ngIf="video" (drawn)="newPerspective($event)" [reset]="resetPerspective" [video]="video"></app-perspective>
    </article>
    <div class="col-6">
      <mat-card>
        <h4>{{'breadcrumbs.settings' | translate}}</h4>
        <mat-card-content>
          <div *ngIf="coordinates">
            <button mat-raised-button color="warn" class="btn-block" (click)="removePerspectivePoints()">
              {{'settings.remove-perspective-points' | translate}}
            </button>
            <button mat-raised-button color="warn" class="btn-block" (click)="removeReferencePoints()">
              {{'settings.remove-reference-points' | translate}}
            </button>
            <p class="mt-2 mb-0">{{'settings.hint' | translate}}</p>
            <mat-form-field class="w-100" appearance="standard" color="accent" matTooltip="{{'settings.ratio-tooltip' | translate}}">
              <mat-label>{{'settings.ratio' | translate}}</mat-label>
              <input matInput placeholder="Campus sur" id="title-input" type="number" step="0.1" [(ngModel)]="ratio">
            </mat-form-field>

          </div>
          <div *ngIf="!coordinates" class="alert alert-danger" role="alert" matTooltip="{{'settings.alert-tooltip' | translate}}">
            <p class="m-0">{{'settings.top-view-disabled' | translate}}</p>
            <p class="m-0 text-muted">{{'settings.select-4-points' | translate}}</p>
          </div>
          <mat-divider></mat-divider>
          <div *ngIf="video">
            <mat-form-field class="w-100" appearance="standard" color="accent">
              <mat-label>{{'objects.video.title' | translate}}</mat-label>
              <input matInput placeholder="Campus sur" id="title-input" [(ngModel)]="video.title">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="standard" color="accent">
              <mat-label>{{'objects.video.city' | translate}}</mat-label>
              <input matInput placeholder="Santiago de Compostela" id="city-input" [(ngModel)]="video.city">
            </mat-form-field>
            <mat-form-field color="accent" appearance="standard" class="w-100">
              <mat-label>{{'objects.video.description' | translate}}</mat-label>
              <textarea matInput placeholder="Vídeo grabado en ..." id="description-input" rows="3" [(ngModel)]="video.description"></textarea>
            </mat-form-field>
          </div>
          <button (click)="update()" mat-raised-button color="accent" class="btn-block">{{'general-actions.accept' | translate}}</button>


        </mat-card-content>
      </mat-card>
    </div>


  </div>
</div>