<div class="example-boundary">
  <canvas #canvas class="w-100"></canvas>
  <div *ngFor="let coordinate of screenCoordinates; index as i" class="drag-point">
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="coordinate" (cdkDragReleased)="dragReleased($event)" (cdkDragMoved)="dragged($event,i)">
    </div>
  </div>

</div>

<img #background class="w-100 d-none" src="{{environment.apiUrl}}/videos/{{video?.id}}/background" alt="Imagen background sin objetos">