<!--<app-video-displayer></app-video-displayer>-->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b class="">{{'main.filter.title' | translate}}</b>
      </mat-panel-title>
      <mat-panel-description>
        {{'main.filter.description' | translate}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form class="mb-3">
      <div class="form-row">
        <mat-form-field class="col-md-4 mb-3">
          <mat-label>{{'main.filter.city-label' | translate}}</mat-label>
          <input matInput type="text" placeholder="Santiago de Compostela">
        </mat-form-field>
        <!--
        <div class="col-md-4 mb-3">
          <label for="city-input">{{'main.filter.city-label' | translate}}</label>
          <input type="text" class="form-control" id="city-input" placeholder="{{'main.filter.city-input' | translate}}" value="">
        </div>-->
        <mat-form-field color="accent" class="col-md-4 mb-3">
          <mat-label>{{'main.filter.start-date-label' | translate}}:</mat-label>
          <input matInput [matDatepicker]="pickerFrom" [max]="maxDate" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field color="accent" class="col-md-4 mb-3">
          <mat-label>{{'main.filter.end-date-label' | translate}}:</mat-label>
          <input matInput [matDatepicker]="pickerTo" [max]="maxDate" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button class="mr-2" color="primary" type="button">{{'main.filter.search-button' | translate}}</button>
        <button mat-raised-button color="warn" type="reset">{{'main.filter.reset-button' | translate}}</button>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>
<div class="ml-2" style="display:inline-block">{{'main.orderBy.label' | translate}}:
  <mat-form-field>
    <mat-select color="accent" [value]="'city'" required (selectionChange)="sortVideoBy($event.value)">
      <mat-option value="city">
        {{'main.orderBy.city' | translate}}
      </mat-option>
      <mat-option value="upload_date">
        {{'main.orderBy.upload-date' | translate}}
      </mat-option>
      <mat-option value="recorded_date">
        {{'main.orderBy.recorded-date' | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="ml-2" style="display:inline-block">{{'main.order.label' | translate}}:
  <mat-form-field>
    <mat-select color="accent" [value]="'0'" required (selectionChange)="videos.reverse()">
      <mat-option value="0">
        {{'main.order.downward' | translate}}
      </mat-option>
      <mat-option value="1">
        {{'main.order.upward' | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-5 clickable p-0 p-sm-2" *ngFor="let video of videos">
      <mat-card style="height:100%" routerLink="/videos/{{video.id}}">
        <div mat-card-image>
          <div *ngIf="!video.processed">
            <mat-spinner style="margin:auto">Processing</mat-spinner>
            <p style="text-align:center">Processing</p>
          </div>

          <img *ngIf="video.processed" class="w-100" src="{{environment.apiUrl}}/videos/{{video.id}}/background">
        </div>

        <mat-card-content>
          <p class=" mb-0"><b>{{'objects.video.title' | translate}}:</b> {{video.title}}</p>
          <p class=" mb-0"><b>{{'objects.video.city' | translate}}:</b> {{video.city}}</p>
          <p class=" mb-0"><b>{{'objects.video.recorded-date' | translate}}:</b> {{ (video.recorded_date != 'null') ? (video.recorded_date | date: 'dd/MM/yyyy') : "" }}</p>

        </mat-card-content>
      </mat-card>
    </div>


  </div>

</div>