<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">{{'breadcrumbs.home' | translate}}</a></li>
    <li class="breadcrumb-item"><a routerLink="/videos/{{video_id}}">{{'breadcrumbs.video' | translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{'breadcrumbs.objects' | translate}}</li>
  </ol>
</nav>
<div class="container-fluid row">
  <div *ngFor="let object of objects | keyvalue">
    <div class="portrait" routerLink="/videos/{{video_id}}/objects/{{object.value.id}}">
      <img src="{{environment.apiUrl}}/videos/{{video_id}}/objects/{{object.value.id}}/{{object.value.portrait}}" alt="">
    </div>
  </div>

</div>