.portrait:hover{
    transform: scale(1.05);
}

.portrait{
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    margin:2px;
    transition: transform .2s;
    cursor: pointer;
}

.portrait img{
    height: 200px;
}
