<div class="container">
  <nav aria-label="breadcrumb">
    <mat-card>
      <button mat-button color="accent" routerLink="/">{{'breadcrumbs.home' | translate}}</button> /
      <button mat-button color="accent" routerLink="/videos/{{video_id}}">{{'breadcrumbs.video' | translate}}</button> /
      <button mat-button disabled>{{'breadcrumbs.objects' | translate}}</button>
    </mat-card>
  </nav>
  <div class="container-fluid row mt-2">

    <div *ngFor="let object of objects | keyvalue">
      <div class="portrait" routerLink="/videos/{{video_id}}/objects/{{object.value.id}}">
        <img src="{{environment.apiUrl}}/videos/{{video_id}}/objects/{{object.value.id}}/{{object.value.portrait}}" alt="">
      </div>
    </div>

  </div>
</div>