<h1 mat-dialog-title>Upload video</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" color="accent" class="w-100">
    <mat-label>Selecciona un vídeo</mat-label>
    <ngx-mat-file-input accept="video/*" required></ngx-mat-file-input>

    <mat-hint>Selecciona un vídeo para subir a la plataforma</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent" class="w-100 mb-2">
    <mat-label>Selecciona el fichero de anotaciones</mat-label>
    <ngx-mat-file-input accept=".txt" required></ngx-mat-file-input>
    <mat-hint>Selecciona el fichero de anotaciones correspondiente</mat-hint>
  </mat-form-field>

  <mat-divider></mat-divider>



  <mat-form-field appearance="fill" color="accent" class="w-100">
    <mat-label>Título</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent" class="w-100">
    <mat-label>Título</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent" class="w-100">
    <mat-label>Título</mat-label>
    <input matInput type="text">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onNoClick()" color="warn" class="mr-2">No Thanks</button>
  <button mat-raised-button cdkFocusInitial color="accent">Ok</button>
</div>