<h1 mat-dialog-title>{{'modal.upload.head' | translate}}</h1>
<form [formGroup]="uploadForm" (ngSubmit)="okClick()">
  <mat-dialog-content>
    <mat-form-field appearance="fill" color="accent" class="w-100">
      <mat-label>{{'modal.upload.select-video.label' | translate}}</mat-label>
      <ngx-mat-file-input accept="video/*" required formControlName="video"></ngx-mat-file-input>
      <mat-hint>{{'modal.upload.select-video.hint' | translate}}</mat-hint>
      <mat-error *ngIf="uploadForm.get('video').hasError('required')">{{'modal.upload.select-video.warn' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent" class="w-100">
      <mat-label>{{'modal.upload.select-gt.label' | translate}}</mat-label>
      <ngx-mat-file-input accept=".txt" required formControlName="annotations"></ngx-mat-file-input>
      <mat-hint>{{'modal.upload.select-gt.hint' | translate}}</mat-hint>
      <mat-error *ngIf="uploadForm.get('annotations').hasError('required')">{{'modal.upload.select-gt.warn' | translate}}</mat-error>
    </mat-form-field>

    <mat-divider class="mt-3 mb-3"></mat-divider>



    <mat-form-field appearance="fill" color="accent" class="w-100">
      <mat-label>{{'objects.video.title' | translate}}</mat-label>
      <input matInput type="text" placeholder="{{'modal.upload.title.placeholder' | translate}}" formControlName="title">
      <mat-error *ngIf="uploadForm.get('title').hasError('required')">{{'modal.upload.title.warn' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent" class="w-100">
      <mat-label>{{'objects.video.city' | translate}}</mat-label>
      <input matInput type="text" placeholder="{{'modal.upload.city.placeholder' | translate}}" formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent" class="w-100" (click)="datepicker.open()">
      <mat-label>{{'objects.video.recorded-date' | translate}}</mat-label>
      <input matInput [matDatepicker]="datepicker" autocomplete="off" formControlName="recorded_date" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent" class="w-100">
      <mat-label>{{'objects.video.description' | translate}}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-raised-button type="button" (click)="onNoClick()" color="warn" class="mr-2">{{'modal.upload.cancel' | translate}}</button>
    <button mat-raised-button color="accent" type="submit" [disabled]="!uploadForm.valid">{{'modal.upload.upload' | translate}}</button>
  </div>
</form>