<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name pointer" routerLink="/">Advanced Visualization</h1>

    <span style="flex: 1 1 auto;"></span>

    <mat-form-field style="width:40px" color="accent">
      <mat-select required [value]="selectedLang" (selectionChange)="selectLangByUser($event.value)">
        <mat-select-trigger>
          <p class="lang-option">{{selectedLang | uppercase}}</p>
        </mat-select-trigger>
        <mat-option value="gl" selected>
          <p class="lang-option">GL</p>
        </mat-option>
        <mat-option value="es">
          <p class="lang-option">ES</p>
        </mat-option>
        <mat-option value="en">
          <p class="lang-option">EN</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class=" p-2">
      <button mat-raised-button color="accent" class="w-100" (click)="onUploadClick()">{{'main.sidebar.upload-video' | translate}}</button>
      <div mat-subheader>{{'main.sidebar.videos' | translate}}</div>
      <div *ngFor="let video of videos" class="p-2 clickable miniature" routerLink="/videos/{{video.id}}" routerLinkActive="active">
        <div>
          <div *ngIf="!video.processed" class="img-loading">
            <mat-spinner style="margin:auto" [mode]="video.progress==0?'indeterminate':'determinate'" [value]="video.progress"></mat-spinner>
          </div>
          <img *ngIf="video.processed" matListAvatar src="{{environment.apiUrl}}/videos/{{video?.id}}/background">
          <p *ngIf="!video.processed" style="text-align:center">{{video.progress}}%</p>
          <p *ngIf="video.processed" class="overlay-miniature mb-0 p-1">{{video.title}}</p>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="p-2">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
  <mat-card *ngIf="uploading" class="upload-progress-div">
    <p>{{'main.uploading' | translate}}... {{uploadPercentage}}%</p>
    <mat-progress-bar mode="determinate" [value]="uploadPercentage"></mat-progress-bar>
  </mat-card>
  <notifier-container style="height:0px;"></notifier-container>

</div>