<div #videoContainer style="position:relative" class="videoContainer">
  <div class="overlay-video-0obj" *ngIf="virtualVideo?.objects_quantity==0">
    <p>{{'filter.generation-form.no-objects'| translate}}</p>
  </div>
  <div class="overlay-video-0obj" *ngIf="loading">
    <div>
      <mat-progress-spinner mode="determinate" [value]="generationProgress" class="spinner">
      </mat-progress-spinner>
      <p>{{generationProgress}}%</p>
    </div>

  </div>
  <video (resized)="onVideoResize" style="display:inline-block" #videoDisplayer class="video-displayer" controls></video>
  <a *ngFor="let boundingBox of virtualFrameAppearances?.appearance_list" [hidden]="!boundingBoxActivated"
    [ngStyle]="{height:boundingBox.relative_height+'px',width:boundingBox.relative_width+'px',left:boundingBox.relative_col+'px',top:boundingBox.relative_row+'px'}" class="bounding-box" routerLink="/videos/{{video.id}}/objects/{{boundingBox.object}}"
    target="_blank"></a>
</div>
<button (click)="onFullScreen($event)">{{'filter.generation-form.fullscreen'| translate}}</button>
<br>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="boundingBoxCheckbox" [(ngModel)]="boundingBoxActivated">
  <label class="custom-control-label" for="boundingBoxCheckbox">{{'filter.generation-form.show-bounding'| translate}}</label>
</div>
<p>{{'filter.generation-form.object-number'| translate}}: {{virtualVideo?.objects_quantity}}</p>
<img class="heatmap" *ngIf="virtualVideo" src="{{environment.apiUrl}}/videos/{{video?.id}}/virtual/{{virtualVideo?.id}}/heatmap" alt="">