<div #videoContainer style="position:relative" class="videoContainer">
  <video (resized)="onVideoResize" style="display:inline-block" #videoDisplayer class="video-displayer" controls></video>
  <a *ngFor="let boundingBox of virtualFrameAppearances?.appearance_list" [hidden]="!boundingBoxActivated"
    [ngStyle]="{height:boundingBox.relative_height+'px',width:boundingBox.relative_width+'px',left:boundingBox.relative_col+'px',top:boundingBox.relative_row+'px'}" class="bounding-box" routerLink="/videos/{{video.id}}/objects/{{boundingBox.object}}"
    target="_blank"></a>
</div>
<button (click)="onFullScreen($event)">FullScreen</button>
<br>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="boundingBoxCheckbox" [(ngModel)]="boundingBoxActivated">
  <label class="custom-control-label" for="boundingBoxCheckbox">Mostrar bounding boxes</label>
</div>
<p>Object number: {{virtualVideo?.objects_quantity}}</p>
<img class="heatmap" src="{{environment.apiUrl}}/videos/{{video?.id}}/virtual/{{virtualVideo?.id}}/heatmap" alt="">