<div class="row">
  <article class="col-12 col-lg-6 mb-2 position-relative">
    <app-path *ngIf="video!=undefined" [hidden]="action!='path'" [video]="video" (drawn)="setPath($event)" [reset]="resetPath"></app-path>
    <app-area *ngIf="video!=undefined" [hidden]="action!='area'" [video]="video" (drawn)="setArea($event)" [reset]="resetArea" [stop]="stopArea"></app-area>
    <app-video-displayer *ngIf="video!=undefined" [hidden]="action!='view'" [video]="video" [settings]="showGeneratedVideo"></app-video-displayer>
    <video class="w-100" *ngIf="video!=undefined" [hidden]="action!='original'" src="{{environment.apiUrl}}/videos/{{video?.id}}/media" controls></video>
  </article>
  <article class="col-12 col-lg-6">
    <div class="card p-3">
      <form novalidate (ngSubmit)="generateVideo()" [formGroup]="filterForm">
        <h5>Parámetros de generación</h5>
        <hr>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <fa-icon class="mr-2" [icon]="clothIcon"></fa-icon>
                <b>Apariencia</b>
              </mat-panel-title>
              <mat-panel-description>
                Defina colores de la vestimenta
              </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
          </mat-expansion-panel>
          <mat-expansion-panel formGroupName="time">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <fa-icon class="mr-2" [icon]="timeIcon"></fa-icon>
                <b>Tiempo</b>
              </mat-panel-title>
              <mat-panel-description>
                Defina rango de tiempo
              </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <p>Desde:<input class="form-control" type="time" placeholder="00:00:00" min="00:00:00" step="1" formControlName="start"></p>
            <p>Hasta:<input class="form-control" type="time" min="00:00:00" step="1" formControlName="end"></p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <fa-icon class="mr-2" [icon]="pathIcon"></fa-icon>
                <b>Ruta</b>
              </mat-panel-title>
              <mat-panel-description>
                Defina ruta, zona o dirección
              </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <button type="button" *ngIf="pathFilter.path==undefined" [disabled]="area!=undefined || direction!=undefined" (click)="createPath()" class=" btn btn-outline-secondary btn-block">Definir ruta</button>
            <button type="button" *ngIf="pathFilter.path!=undefined" class="btn btn-outline-danger btn-block" (click)="funcResetPath()">Eliminar ruta</button>

            <button type="button" *ngIf="areaFilter.area==undefined" class="btn btn-outline-secondary btn-block" [hidden]="this.action=='area'" (click)="this.action='area'">Definir
              area</button>
            <button type="button" *ngIf="areaFilter.area==undefined" class="btn btn-outline-success btn-block" [hidden]="this.action!='area'" (click)="acceptArea()">Aceptar area</button>
            <button type="button" *ngIf="areaFilter.area!=undefined" class="btn btn-outline-danger btn-block" (click)="funcResetArea()">Eliminar area</button>

            <button type="button" *ngIf="direction==undefined" class="btn btn-outline-secondary btn-block">Definir dirección</button>
            <button type="button" *ngIf="direction!=undefined" class="btn btn-outline-danger btn-block">Eliminar dirección</button>


          </mat-expansion-panel>
          <mat-expansion-panel formGroupName="velocity">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <fa-icon class=" mr-2" [icon]="speedIcon"></fa-icon>
                <b>Velocidad</b>
              </mat-panel-title>
              <mat-panel-description>
                Defina velocidad
              </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <p><b>Velocidad:</b></p>
            <p>Mínima(f/s):<input class="form-control" placeholder="0" type="number" step="0.1" formControlName="min"></p>
            <p>Máxima(f/s):<input class="form-control" placeholder="0" type="number" step="0.1" formControlName="max"></p>
            <p>Tiempo(s):<input class="form-control" placeholder="0" type="number" step="1" formControlName="time"></p>
          </mat-expansion-panel>
        </mat-accordion>
        <button type="submit" class="btn btn-success btn-block mt-2">
          <fa-icon [icon]="generateIcon"></fa-icon>
          Generar
        </button>
      </form>
    </div>
  </article>
</div>