<div class="container">
  <mat-card>
    <button mat-button color="accent" routerLink="/">{{'breadcrumbs.home' | translate}}</button> /
    <button mat-button color="accent" routerLink="/videos/{{video_id}}">{{'breadcrumbs.video' | translate}}</button> /
    <button mat-button color="accent" disabled>{{'breadcrumbs.filter' | translate}}</button>
  </mat-card>

  <div class="row mt-2">
    <article class="col-12 col-lg-6 mb-2 position-relative">
      <app-path *ngIf="video!=undefined" [hidden]="action!='path'" [video]="video" (drawn)="setPath($event)" [reset]="resetPath"></app-path>
      <app-area *ngIf="video!=undefined" [hidden]="action!='area'" [video]="video" (drawn)="setArea($event)" [reset]="resetArea" [stop]="stopArea"></app-area>
      <app-video-displayer *ngIf="video!=undefined" [hidden]="action!='view'" [video]="video" [settings]="showGeneratedVideo"></app-video-displayer>
      <video class="w-100" *ngIf="video!=undefined" [hidden]="action!='original'" src="{{environment.apiUrl}}/videos/{{video?.id}}/media" controls></video>
    </article>
    <article class="col-12 col-lg-6">
      <mat-card class="p-3">
        <form novalidate (ngSubmit)="generateVideo()" [formGroup]="filterForm">
          <h5>{{'filter.generation-form.title' | translate}}</h5>
          <hr>
          <mat-accordion>
            <mat-expansion-panel formGroupName="outfit">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <fa-icon class="mr-2" [icon]="clothIcon"></fa-icon>
                  <b>{{'filter.generation-form.appearance.title'| translate}}</b>
                </mat-panel-title>
                <mat-panel-description>
                  {{'filter.generation-form.appearance.description'| translate}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <hr>
              <p>Choose upper color <input type="color" formControlName="upper_color"> Activado:<input type="checkbox" formControlName="upper_valid"></p>
              <p>Choose lower color <input type="color" formControlName="lower_color"> Activado:<input type="checkbox" formControlName="lower_valid"></p>
            </mat-expansion-panel>
            <mat-expansion-panel formGroupName="time">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <fa-icon class="mr-2" [icon]="timeIcon"></fa-icon>
                  <b>{{'filter.generation-form.time.title'| translate}}</b>
                </mat-panel-title>
                <mat-panel-description>
                  {{'filter.generation-form.time.description'| translate}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <hr>
              <p>{{'filter.generation-form.time.from'| translate}}:<input class="form-control" type="time" placeholder="00:00:00" min="00:00:00" step="1" formControlName="start"></p>
              <p>{{'filter.generation-form.time.to'| translate}}:<input class="form-control" type="time" min="00:00:00" step="1" formControlName="end"></p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <fa-icon class="mr-2" [icon]="pathIcon"></fa-icon>
                  <b>{{'filter.generation-form.path.title'| translate}}</b>
                </mat-panel-title>
                <mat-panel-description>
                  {{'filter.generation-form.path.description'| translate}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <hr>
              <button mat-raised-button type="button" color="accent" *ngIf="pathFilter.path==undefined" [disabled]="area!=undefined || direction!=undefined" (click)="createPath()"
                class=" btn-block">{{'filter.generation-form.path.create-path-button'| translate}}</button>
              <button mat-raised-button color="warn" type="button" *ngIf="pathFilter.path!=undefined" class="btn-block" (click)="funcResetPath()">{{'filter.generation-form.path.delete-path-button'| translate}}</button>

              <button mat-raised-button color="accent" type="button" *ngIf="areaFilter.area==undefined" class="btn-block" [hidden]="this.action=='area'"
                (click)="this.action='area'">{{'filter.generation-form.path.create-area-button'| translate}}</button>
              <button mat-raised-button color="primary" type="button" *ngIf="areaFilter.area==undefined" class="btn-block" [hidden]="this.action!='area'" (click)="acceptArea()">{{'filter.generation-form.path.accept-area-button'| translate}}</button>
              <button mat-raised-button color="warn" type="button" *ngIf="areaFilter.area!=undefined" class="btn-block" (click)="funcResetArea()">{{'filter.generation-form.path.delete-area-button'| translate}}</button>

              <!--
              <button type="button" *ngIf="direction==undefined" class="btn btn-outline-secondary btn-block">Definir dirección</button>
              <button type="button" *ngIf="direction!=undefined" class="btn btn-outline-danger btn-block">Eliminar dirección</button>
              -->
              <hr>
              <p>{{'filter.generation-form.path.direction-tooltip'| translate}}</p>
              <div id="dir-button-container" class="table checkbox-group" formGroupName="direction">
                <div class="table-row">
                  <div class="table-cell">
                    <input #dirArrowCheckbox id="up-left" type="checkbox" value="1" formControlName="up_left">
                    <label for="up-left" class="btn btn-outline-secondary">
                      <fa-icon style="font-size:30px;" transform="rotate-315" [icon]="angleIcon"></fa-icon>
                    </label>
                  </div>
                  <div class="table-cell">
                    <input #dirArrowCheckbox id="up" type="checkbox" value="1" formControlName="up">
                    <label for="up" class="btn btn-outline-secondary">
                      <fa-icon style="font-size:30px;" transform="rotate-0" [icon]="angleIcon"></fa-icon>
                    </label>
                  </div>
                  <div class="table-cell">
                    <input #dirArrowCheckbox id="up-right" type="checkbox" value="1" formControlName="up_right">
                    <label for="up-right" class="btn btn-outline-secondary">
                      <fa-icon style="font-size:30px;" transform="rotate-45" [icon]="angleIcon"></fa-icon>
                    </label>
                  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell">
                    <input #dirArrowCheckbox id="left" type="checkbox" value="1" formControlName="left">
                    <label for="left" class="btn btn-outline-secondary">
                      <fa-icon style="font-size:30px;" transform="rotate-270" [icon]="angleIcon"></fa-icon>
                    </label>
                  </div>
                  <div class="table-cell">
                    <input #erraticCheckbox id="erratic" type="checkbox" value="1" formControlName="erratic">
                    <label for="erratic" class="btn btn-outline-secondary">
                      {{'filter.generation-form.path.erratic-button'| translate}}
                    </label>
                  </div>
                  <div class="table-cell">
                    <input #dirArrowCheckbox id="right" type="checkbox" value="1" formControlName="right">
                    <label for="right" class="btn btn-outline-secondary">
                      <fa-icon style="font-size:30px;" transform="rotate-90" [icon]="angleIcon"></fa-icon>
                    </label>
                  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell">
                    <input #dirArrowCheckbox id="down-left" type="checkbox" value="1" formControlName="down_left">
                    <label for="down-left" class="btn btn-outline-secondary">
                      <fa-icon style="font-size:30px;" transform="rotate-225" [icon]="angleIcon"></fa-icon>
                    </label>
                  </div>
                  <div class="table-cell">
                    <input #dirArrowCheckbox id="down" type="checkbox" value="1" formControlName="down">
                    <label for="down" class="btn btn-outline-secondary">
                      <fa-icon style="font-size:30px;" transform="rotate-180" [icon]="angleIcon"></fa-icon>
                    </label>
                  </div>
                  <div class="table-cell">
                    <input #dirArrowCheckbox id="down-right" type="checkbox" value="1" formControlName="down_right">
                    <label for="down-right" class="btn btn-outline-secondary">
                      <fa-icon style="font-size:30px;" transform="rotate-135" [icon]="angleIcon"></fa-icon>
                    </label>
                  </div>
                </div>
              </div>

              <h3>{{'filter.generation-form.path.speed.title'| translate}}</h3>
              <div class="checkbox-group" formGroupName="speed">
                <div>
                  <input id="very-slow" type="checkbox" formControlName="very_slow">
                  <label for="very-slow" class="btn btn-outline-secondary">
                    {{'filter.generation-form.path.speed.very-slow'| translate}}
                  </label>
                </div>
                <div>
                  <input id="slow" type="checkbox" formControlName="slow">
                  <label for="slow" class="btn btn-outline-secondary">
                    {{'filter.generation-form.path.speed.slow'| translate}}
                  </label>
                </div>
                <div>
                  <input id="normal" type="checkbox" formControlName="normal">
                  <label for="normal" class="btn btn-outline-secondary">
                    {{'filter.generation-form.path.speed.normal'| translate}}
                  </label>
                </div>
                <div>
                  <input id="fast" type="checkbox" formControlName="fast">
                  <label for="fast" class="btn btn-outline-secondary">
                    {{'filter.generation-form.path.speed.fast'| translate}}
                  </label>
                </div>
                <div>
                  <input id="very-fast" type="checkbox" formControlName="very_fast">
                  <label for="very-fast" class="btn btn-outline-secondary">
                    {{'filter.generation-form.path.speed.very-fast'| translate}}
                  </label>
                </div>
              </div>


            </mat-expansion-panel>
            <mat-expansion-panel formGroupName="velocity">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <fa-icon class=" mr-2" [icon]="speedIcon"></fa-icon>
                  <b>{{'filter.generation-form.speed.title'| translate}}</b>
                </mat-panel-title>
                <mat-panel-description>
                  {{'filter.generation-form.speed.description'| translate}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <hr>
              <p>{{'filter.generation-form.speed.min'| translate}}:<input class="form-control" placeholder="0" type="number" step="0.1" formControlName="min"></p>
              <p>{{'filter.generation-form.speed.max'| translate}}:<input class="form-control" placeholder="0" type="number" step="0.1" formControlName="max"></p>
              <p>{{'filter.generation-form.speed.time'| translate}}:<input class="form-control" placeholder="0" type="number" step="1" formControlName="time"></p>
            </mat-expansion-panel>
          </mat-accordion>
          <button mat-raised-button color="primary" class="mt-2 btn-block" type="submit">
            <fa-icon [icon]="generateIcon"></fa-icon>
            {{'filter.generation-form.generate-button'| translate}}
          </button>
        </form>
      </mat-card>
    </article>
  </div>
</div>